<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About BookList</title>
    <link rel="stylesheet" href="./static/resources/index.css">
</head>
<body>
    <nav class="navbar toppage">
        <div class="brand-title">BookList</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/interact">Interact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <h1 class="h1">About BookList</h1>
      <div id="form-container">
        <div id="div-bg"></div>
        <div id="form-section">
          <form method="" action="">
            <div class="form-group">  
              <div class="form-field" id="Title">
                <p>This application was developed to help me learn Golang</p>
              </div>          
              <div class="form-field" id="Title">
                <p>This application has the following functionality:</p>
              </div>          
              <div class="form-field" id="Title">
                <p>Viewing the list of Books</p>     
                <p>Creating a Book in the List</p>
                <p>Editing a Book in the List</p>
                <p>Deleting a Book in the List</p> 
              </div>          
          </form>
          <div id="icon-container">
            <div class="icons facebook">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="icons twitter">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="icons google">
              <i class="fa fa-google"></i>
            </div>
          </div>
        </div>
      </div>
    
    
</body>
</html>